/* Переменные */
    $blue: #2196F3;
    $grey: #2F303A;
    $grey2:#757575;
    $greylinks: #AFB1B8;
    $white:#FFFFFF;
    $black:#212121;
    $background-team:#F5F4FA;
    $background-modal: rgba(0, 0, 0, 0.2);
